*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfi', sans-serif;
}

html{
    height: 100vh;
    font-size: 14px;
}
body{
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-hexagonal-escuro-com-cor-gradiente_79603-1409.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   

}
.container{
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: rgb(6, 3, 3);

}
header {
    text-align: center;
    margin-bottom: 30px;
}
header img{
    max-width: 140px;
    scroll-margin-bottom: 30px;
    border-radius: 210px;
    margin: 5px;
   
   
}


header h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 33px;
    color:whitesmoke;
    text-align: center;
    text-shadow: 2px 2px 2px 2px black;
}
header p{
   font-size:13px ;
   color:whitesmoke;
   text-align: center;
  
   

}
h3{
    color:whitesmoke;
}

section.botoes-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
   
}
a.link button{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 15px;
    font-size: 1.2em;
    cursor:pointer;
    color:whitesmoke;
    transition: .3s;
   
}

a.link i{
    font-size: 1.5em;

}
a.link button:hover, footer a.btn-footer{
    transform:scale(1.05)
}
h4{
    color: whitesmoke;
}

a{
    text-decoration: none;
    color:black;
   
  
}
.botao{
   background-color: transparent;
    box-shadow: 2px 1px  2px 2px whitesmoke;
}
footer{
    text-align: center;
    margin: 30px;
}
footer a.btn-footer{
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 2em;
    line-height: 43px;
    border-radius: 60%;
    margin: 0 10px;
    transition: .2s;
    background: whitesmoke;

    

}